<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luggage Fee Calculator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <center><h1>Welcome to the Luggage Fee Calculator</h1></center>
    <div>
       <center> <a href="/login">Login</a></center>
        <br>
    <center><a href="/register">Register</a></center>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
